[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
blinker = "*"
email-validator = "*"
flask = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
gunicorn = "*"
mysql = "*"
python-dotenv = "*"
sentry-sdk = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true