[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
bcrypt = "*"
blinker = "*"
cffi = "*"
click = "*"
dotenv = "*"
gunicorn = "*"
itsdangerous = "*"
ordereddict = "*"
passlib = "*"
"psycopg2" = "*"
pycparser = "*"
python-dotenv = "*"
six = "*"
Flask = "*"
Flask-Login = "*"
Flask-Mail = "*"
Flask-Principal = "*"
Flask-Security = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
"Jinja2" = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "*"
WTForms = "*"

[requires]
python_version = "2.7"
