Babel==2.3.4
click==6.6
colorama==0.3.7
Flask==0.11.1
Flask-AppBuilder==1.8.1
Flask-Babel==0.11.1
Flask-Login==0.2.11
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.0
Flask-WTF==0.12
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pbr==1.10.0
python-openid==2.2.5
pytz==2016.6.1
six==1.10.0
SQLAlchemy==1.0.15
stevedore==1.17.1
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
Werkzeug==0.11.11
WTForms==2.1
