{% extends "base.html" %}
{% block content %}
    <div style="display:none;" class="alert alert-success" id="link_added_message">
        Your link has been successfully added.
    </div>
    <div style="display:none;" class="alert alert-success" id="link_deleted_message">
        Your link has been successfully deleted.
    </div>
    <table class="table table-striped" id="links_table">
        <tr>
            <th>URL</th>
            <th>Link</th>
            <th>Visits</th>
            <th>Delete</th>
        </tr>
        {% for link in links %}
            <tr>
                <td>{{ link.url }}</td>
                <td>{{ link.link }}</td>
                <td>{{ link.visits }}</td>
                <td><button class="btn btn-danger delete-button" id="{{ link.id }}">Delete</button></td>
            </tr>
        {% endfor %}
        <ul class="pagination">
            {% if links.has_prev %}
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% if links.has_next %}
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}

        </ul>
    </table>
    <div class="col-md-3">
        <form id='add_link'>
            <label>URL</label>
            <input type="text" id="url" class="form-control">
            <br />
            <input type="submit" value="Add URL" class="btn btn-primary">
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $("#add_link").submit(function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/link',
                data: {
                    'url': $('#url').val()
                },
                success: function(json) {
                    if(json.success) {
                        $('#url').val("");
                        $('#link_added_message').show();
                        $('#links_table').load('/ #links_table');
                    }
                }
            });
        })
        $("#links_table").on("click", ".delete-button", function() {
            var c = confirm("Are you sure you want to delete this link");
            if (c == true) {
                $.ajax({
                    type: 'delete',
                    url: '/link/'+this.id,
                    success: function(json) {
                        if(json.success) {
                            $('#link_deleted_message').show();
                            $('#links_table').load('/ #links_table');
                        }
                    }
                });
            }
        })
    </script>
{% endblock %}
