{% extends "base.html" %}
{% block content %}
    <div style="display:none;" class="alert alert-success" id="success_message">
        Your link has been successfully added.
    </div>
    <table class="table table-striped" id="links_table">
        <tr>
            <th>URL</th>
            <th>Link</th>
            <th>Visits</th>
        </tr>
        {% for link in links %}
            <tr>
                <td>{{ link.url }}</td>
                <td>{{ link.link }}</td>
                <td>{{ link.visits }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="col-md-3">
        <form id='add_link'>
            <label>URL</label>
            <input type="text" id="url" class="form-control">
            <br />
            <input type="submit" value="Add URL" class="btn btn-primary">
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $("#add_link").submit(function(e) {
            e.preventDefault();
            var formData = {
                'url': $('#url').val()
            }
            $.ajax({
                type: 'POST',
                url: '/link',
                data: formData,
                success: function(json) {
                    if(json.success) {
                        $('#url').val("");
                        $('#success_message').show();
                        $('#links_table').load('/ #links_table');
                    }
                }
            });
        })
    </script>
{% endblock %}
